<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body style="padding-top:1em;">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <a href="/Account/Login">
                    <img src="~/Content/Images/icon.png" style="width:50px;height:50px; " />
                </a>
            </div>
            <div class=" col-lg-9" style="margin-top:10px;">
                <a class="btn btn-outline-dark col-lg-3" href="/Home/Hakkimizda" style=" font-size:18px; border:0px;">Hakkımızda</a>

                <a class="btn btn-outline-dark col-lg-3" href="/Home/Hakkimizda" style=" font-size:18px; border:0px;">Anlaşmalı Kurumlar</a>

                <a class="btn btn-outline-dark  dropdown-toggle col-lg-3" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style=" font-size:18px; border:0px;">
                    Üye Ol
                </a>
                <div class="dropdown-menu " aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" style=" font-size:17px; " href="/Account/BireyselUyeOl">Bireysel</a>
                    <a class="dropdown-item" style=" font-size:17px;" href="/Account/KurumsalUyeOl">Kurumsal</a>

                </div>

            </div>

            </div>
        </div>
        @RenderBody()

        <hr />
        <footer>
            <p style="margin-left:100px">&copy; @DateTime.Now.Year - Sevimli Dostlar</p>
        </footer>

        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>