@model HayvanDostu.Model.Rezervasyon

@{
    ViewBag.Title = "RezervasyonGuncelle";
    Layout = "~/Views/Shared/_LayoutKurumsal.cshtml";
}
<div class="container">
    <h2>Rezervasyon İptal Sayfası</h2>
</div>
<div class="container">
    <h4>Rezervasyon İptal Sayfası</h4>
    <hr />
    @Html.Partial("~/Views/Account/_Rezervasyonlar.cshtml")
</div>